<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndoCano</title>
    <link rel="stylesheet" href="../style/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="../script/landingPage.js"></script>
    <link rel="icon" href="../images/logo indocano 2.png">
</head>
<body>
    <img id="bg-1" src="../images/background1.png" alt="">
    <img id="bg-2" src="../images/background2 copy.png" alt="">

    <section id="landing-page">
        <div id="navbar">
            <div id="logo">
                <img src="../images/logo indocano 2.png" alt="">
            </div>
            <div id="navbar-right">
                <a class="nav" id="about-us-button" href="#about-us-title">About Us</a>
                <a class="nav" id="login-button" href="loginPage.php">Login</a>
                <a class="nav" id="sign-up-button" href="registerPage.php">Sign Up</a>
            </div>
        </div>
        <div id="content">
            <span id="title">IndoCano</span>
            <span id="subtitle">Explore and Learn Indonesia</span>
            <a href="#information-page" id="get-started">Learn More</a>
        </div>
    </section>
    <section id="information-page">
        <div id="information-title">
            Why Choose IndoCano?
        </div>
        <div class="information information1">
            <div class="text">
                <span>Learn all sorts of things!</span>
                <p>On your journey, you will discover a whole new Indonesia. You will learn about the traditional foods, songs, dances, traditions, and many more!</p>
            </div>
            <div class="image">
                <img src="../images/info1.png" alt="">
            </div>
        </div>
        <div class="information information2">
            <div class="image">
                <img src="../images/info2.png" alt="">
            </div>
            <div class="text">
                <span>Quiz-based learning</span>
                <p>In order to enhance your learning experience with IndoCano, we make lessons in the form of quizzes. The questions will help you learn better and faster compared to just reading.</p>
            </div>
        </div>
        <div class="information information3">
            <div class="text">
                <span>Get more motivation</span>
                <p>It is our dream to make learning your hobby. We make our application based using research-proven methods that can entertain you while you as you learn.</p>
            </div>
            <div class="image">
                <img src="../images/info3.png" alt="">
            </div>
        </div>
        <div class="information information4">
            <div class="image">
                <img src="../images/info4.png" alt="">
            </div>
            <div class="text">
                <span>Are you ready?</span>
                <p>Start learning and exploring each of Indonesia's provinces right here, right now.</p>
                <a href="registerPage.php">Get Started</a>
            </div>
        </div>
    </section>
    <section id="about-us">
        <div id="about-us-title">Who Made IndoCano?</div>
        
        <div id="container">
            <div id="first-row">
                <div class="card">
                    <img class="profile-picture" src="../images/foto shawn.png" alt="">
                    <span class="name">Jeremy Shawn</span>
                    <span class="role">Project Manager</span>
                </div>
                <div class="card">
                    <img class="profile-picture" src="../images/foto fred.png" alt="">
                    <span class="name">Frederico Akira</span>
                    <span class="role">Front-End Developer</span>
                </div>
                <div class="card">
                    <img class="profile-picture" src="../images/foto jojo.png" alt="">
                    <span class="name">Jonathan Gunawan</span>
                    <span class="role">Back-End Developer</span>
                </div>
            </div>
            <div id="second-row">
                <div class="card">
                    <img class="profile-picture" src="../images/foto chen.png" alt="">
                    <span class="name">Chen Zi Hao </span>
                    <span class="role">Front-End Developer</span>
                </div>
                <div class="card">
                    <img class="profile-picture" src="../images/foto darrell.png" alt="">
                    <span class="name">Darrell Belilosa</span>
                    <span class="role">UI/UX Developer</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>