
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndoCano</title>
    <link rel="stylesheet" href="../../../style/selectionPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../../../images/logo indocano 2.png">
    <script defer src="../../../script/selectionPage.js"></script>
</head>
<body>
    <img id="logo" src="../../../images/logo indocano 2.png" alt="">

    <span class="page-title">Choose a province to explore!</span>
    <span class="page-note">*You can always change this later</span>
    
    <div class="grid-container">
        <div class="card">
            <img class="province-img" src="../../../images/LandingBali.jpg" alt="">
            <span class="province-name">Bali</span>
            <div class="progress">
                <progress id="progress-bar" value="2" max="3"></progress>
                <span class="percentage"></span>66%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingJateng.jpeg" alt="">
            <span class="province-name">Jawa Tengah</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingAceh.jpeg" alt="">
            <span class="province-name">Aceh</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="4"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingBaBel.jpg" alt="">
            <span class="province-name">Bangka Belitung</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="4"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingBanten.png" alt="">
            <span class="province-name">Banten</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingBengkulu.jpeg" alt="">
            <span class="province-name">Bengkulu</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingGorontalo.png" alt="">
            <span class="province-name">Gorontalo</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingJaBar.png" alt="">
            <span class="province-name">Jawa Barat</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingJakarta.jpeg" alt="">
            <span class="province-name">DKI Jakarta</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingJambi.jpg" alt="">
            <span class="province-name">Jambi</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingJaTim.jpg" alt="">
            <span class="province-name">Jawa Timur</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingJogja.jpg" alt="">
            <span class="province-name">DI Yogyakarta</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingKalBar.jpg" alt="">
            <span class="province-name">Kalimantan Barat</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingKalSel.jpg" alt="">
            <span class="province-name">Kalimantan Selatan</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingKalTeng.png" alt="">
            <span class="province-name">Kalimantan Tengah</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingKalTim.jpg" alt="">
            <span class="province-name">Kalimantan Tengah</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingKalUt.jpeg" alt="">
            <span class="province-name">Kalimantan Utara</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingKepRi.jpg" alt="">
            <span class="province-name">Kepulauan Riau</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingLampung.jpeg" alt="">
            <span class="province-name">Lampung</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingMaluku.jpeg" alt="">
            <span class="province-name">Maluku</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingMalukuUtara.jpg" alt="">
            <span class="province-name">Maluku Utara</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingNTB.jpg" alt="">
            <span class="province-name">Nusa Tenggara Barat</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingNTT.jpg" alt="">
            <span class="province-name">Nusa Tenggara Timur</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingPapua.jpg" alt="">
            <span class="province-name">Papua</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingPapuaBarat.jpg" alt="">
            <span class="province-name">Papua Barat</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingPapuaBD.png" alt="">
            <span class="province-name">Papua Barat Daya</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingPapuaPeg.jpg" alt="">
            <span class="province-name">Papua Pegunungan</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingPapuaSel.jpg" alt="">
            <span class="province-name">Papua Pegunungan</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingPapuaSel.jpg" alt="">
            <span class="province-name">Papua Selatan</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingPapuaTengah.jpeg" alt="">
            <span class="province-name">Papua Tengah</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSulBar.jpeg" alt="">
            <span class="province-name">Sulawesi Barat</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSulSel.jpeg" alt="">
            <span class="province-name">Sulawesi Selatan</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSulTeng.jpg" alt="">
            <span class="province-name">Sulawesi Tenggara</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSulTengah.jpg" alt="">
            <span class="province-name">Sulawesi Tengah</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSulUt.jpg" alt="">
            <span class="province-name">Sulawesi Utara</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSumBar.jpeg" alt="">
            <span class="province-name">Sumatera Barat</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSumSel.jpeg" alt="">
            <span class="province-name">Sumatera Selatan</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
        <div class="card">
            <img class="province-img" src="../../../images/LandingSumUt.jpeg" alt="">
            <span class="province-name">Sumatera Utara</span>
            <div class="progress">
                <progress id="progress-bar" value="0" max="3"></progress>
                <span class="percentage">0%</span>
            </div>
            <a class="enroll-btn" href="../learn/learnPage.php">Enroll</a>
        </div>
    </div>
</body>
</html>